@import "default";

button {
  background: rgba(0,191,143,.2);
  color: $colorGreen;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  letter-spacing: .04em;
  cursor: pointer;
  outline: 0;
  @include custom-rounded(23px);

  &.full-width {
    width: 100%;
  }
}

.modal-content {
  border-radius: 8px !important;
}

#client-page {
  .avatar-rounded {
    @include custom-rounded(100%);
  }
  a, a:hover { color: #77CCDD; text-decoration:none; }
  .navbar-form input, .form-inline input { width:auto; }
  .affix { position:static; }

  .highlight-bk {
    background-color:#77CCDD;
    padding:1px;
    width:100%;
  }

  .highlight {
    color:#77CCDD;
  }

  h3.highlight  {
    padding-top:13px;
    padding-bottom:14px;
    border-bottom:2px solid #77CCDD;
  }

  .navbar {
    background-color: $colorBlueLight;
    color: $colorWhite;
    border-radius:0;
    border: none;
  }
  .navbar-nav > li {
    margin: 6.5px 0 0 15px;

    a {
      color: $colorWhite;
      font-weight: 700;
      cursor: pointer;
      &:hover { background-color: $colorWhite; color: $colorBlue; }
    }

    .profile-link { padding: 7.5px 10px;
      .media-heading {
        color: $colorWhite;
        font-size: 14px;
        margin-top: 7.5px;
      }
      &:hover {
        background-color: $colorWhite;
        .media-heading { color: $colorBlue; }
      }
    }

    .new-post-link {
      background-color: $colorWhite;
      color: $colorBlue;
      height: 35px;
      padding: 7.5px 10px;
    }

  }
  .navbar-nav > li.search-global {
    width: 210px;
    margin-top: 6.5px;
    margin-right: 15px;
    input, button {
      border: none;
      height: 35px; line-height: 35px;
      padding: 0 10px;
    }
    input {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border: none;
      box-shadow: none;
    }
    button {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    .btn-default { background: $colorWhite; box-shadow: none; border: none; }
  }
  .navbar-nav > li:last-child {
    margin-top: 0;
  }

  .navbar-nav li:hover {
    background-color: $colorWhite;
    color: $colorBlueLight;
    .caret { color: $colorBlueLight; }
  }

  .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    color: #000;
    opacity:.9;
  }

  .navbar-brand {
    color: $colorWhite;
    letter-spacing: 1px;
    -webkit-transition: letter-spacing .1s; /* Safari */
    -webkit-transition-timing-function: ease; /* Safari */
    transition: letter-spacing .1s;
    transition-timing-function: ease;
    &:hover {
      color: $colorWhite;
      letter-spacing: 5px;
    }
  }

  .accordion-group { border-width:0; }

  .dropdown-menu { min-width: 250px; }

  .caret { color:#fff; }

  .navbar-toggle { color:#fff; border-width:0; }
  .navbar-toggle:hover { background-color:#fff; }

  .panel, .panel-heading {
    border-radius: 0;
    border-width: 0;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
    box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.09);
  }
  .panel {
    .panel-heading {
      background-color: #555555;
      color: #EEEEEE;
      border-width: 0;
      @include custom-rounded(0);
    }
  }

  .thumbnail { margin-bottom:8px; border-radius:0; }
  .well { border-radius:0; }
  .accordion-heading .accordion-toggle, .accordion-inner, .nav-stacked li > a {
    padding-left:1px;
  }

  /* only apply sticky columns on wider screens */
  @media (min-width: 1200px) {
    #content { padding-right:15px; }

    #sidebar {}
    #sidebar.affix-top { position: static; }
    #sidebar.affix { position: fixed !important; top: 20px; width:200px; }

    #midCol.affix-top { position: static; }
    #midCol.affix-bottom { padding-top:0; }
    #midCol.affix { position:fixed !important; top: 20px; width:292px; }
  }
  @media (min-width: 992px) {
    .no-gutter.row > div[class*='col-md'] {
    }
    .no-gutter.row > .col-md-12 {
      width: 99.99999999999999%;
      *width: 99.93055555555554%;
    }
    .no-gutter.row .col-md-11 {
      width: 91.66666666666666%;
      *width: 91.59722222222221%;
    }
    .no-gutter.row > .col-md-10 {
      width: 83.33333333333331%;
      *width: 83.26388888888887%;
    }
    .no-gutter.row > .col-md-9 {
      width: 74.99999999999999%;
      *width: 74.93055555555554%;
    }
    .no-gutter.row > .col-md-8 {
      width: 66.66666666666666%;
      *width: 66.59722222222221%;
    }
    .no-gutter.row > .col-md-7 {
      width: 58.33333333333333%;
      *width: 58.263888888888886%;
    }
    .no-gutter.row > .col-md-6 {
      width: 49.99999999999999%;
    }
    .no-gutter.row > .col-md-4 {
      width: 33.33333333333333%;
    }
    .no-gutter.row > .col-md-3 {
      width: 24.999999999999996%;
      *width: 24.930555555555554%;
    }
    .no-gutter.row > .col-md-2 {
      width: 16.666666666666664%;
      *width: 16.59722222222222%;
    }
    .no-gutter.row > .col-md-1 {
      width: 8.333333333333332%;
      *width: 8.263888888888888%;
    }
  }

  #top-stories {
    .row-post {
      .title {
        margin: 0;
        padding: 0;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: .003em;
        line-height: 32px;
        color: #464646;
      }

      .stats {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin: 0;
          padding: 0px 25px 10px 0;
          display: inline-block;
          font-size: 13px;
        }
      }

      .tags {
        .label {
          font-weight: 400;
          display: inline-block;
          margin-right: 5px;
          background-color: #DDD;
          color: #333;
        }
      }
    }
  }

  /* end custom theme */
}

/* Custom Login Modal */
.login-modal, .post-modal {
  .modal-dialog {
    width: 420px;

    .modal-body {
      padding: 30px;
      color: #9b9b9b;
    }
    .login-header {
      text-align: center;

      h1 {
        margin-bottom: 10px;
        font-size: 44px;
        color: $colorGreen;
      }
    }
    .login-container {
      text-align: center;

      button.facebook-signin {
        width: 360px;
        padding: 11px 20px;
        box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
        color: #fff;
        background-size: 44px 44px;
        background-position: left 5px center;
        background-repeat: no-repeat;
        background-color: #55acee;
        border: none;
        box-shadow: none;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: .015em;
        line-height: 22px;
        @include custom-rounded(23px);
      }

      input.form-control {
        border: 0;
        box-shadow: none;
        background-color: #e4e4e4;
      }

      .submit-container {
        position: relative;
        display: inline-block;
        width: 360px;
        margin-top: 10px;
        text-align: left;

        a { color: $colorGreen; }

        .forgot-password {
          position: absolute;
          left: 0;
          top: 50%;
          margin-left: 5px;
          margin-top: -.5em;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: .029em;
          line-height: 16px;
        }

        button[type=submit] {
          float: right;
          vertical-align: middle;
          color: #fff;
          background-color: $colorGreen;
          font-size: 14px;
          font-weight: 500;
          letter-spacing: .015em;
          line-height: 8px;
        }
      }
    }
  }
}
.post-modal {
  .modal-dialog {
    width: 600px;

    .header {
      h3 { margin: 0 0 25px 0; }
    }

    .nav-tabs {
      border: 0;

      & > li > a { border: 0; @include custom-rounded(0); }
      & > li.active > a, & > li.active > a:hover, & > li.active > a:focus {
        border: 0;
        background-color: #f4f4f4;
        font-weight: 700;
      }
    }

    .tab-content {
      background-color: #f4f4f4;
      padding: 15px;

      input.form-control {
        border: 0;
        box-shadow: none;
        height: 44px;
        line-height: 44px;
        @include custom-rounded(0);
      }

      button.blue-button {
        @include custom-rounded(0);
        background-color: #00adef;
        color: $colorWhite;
      }

      .thumbnail {
        @include custom-rounded(0);
        border: 0;
        padding: 0;
        position: relative;

        input[type=file] {
          &:hover { cursor: pointer; }

          position: absolute;
          top: 0; left: 0;
          height: 100%;
          opacity: 0;
          z-index: 3;
        }
      }

      .post-preview {
        h3 { margin: 0; color: #333; }
        a { color: #77CCDD; text-decoration: none; }
        label {
          font-weight: 400;
          display: inline-block;
          margin-right: 5px;
          background-color: #DDD;
          color: #333;
        }
      }
    }
  }
}

