header md-toolbar .md-toolbar-tools md-button,
header md-toolbar .md-toolbar-tools md-button:hover {
  background: none !important;
  box-shadow: none !important;
  border: none !important;
  transform: none !important;
  -webkit-transform: none !important;
  -moz-transform: none !important;
}

.home-cards {
  md-card {
    padding: 0;
    position: relative;

    h3 {
      position: absolute;
      left: 0; bottom: 0;
      padding: 1.33em; margin: 0;
      width: 100%;
      background: rgba(0, 0, 0, .26);
      color: #FFFFFF;
    }
  }
}

